.Contents
  .Container
    %h1 ネタを編集する
    = form_with model: @note, class: "Form", local:true do |form|
      %h2 テーマ
      = form.text_field :theme, class:"Form__theme"
      %h2 詳細
      = form.text_area :details, class: "Form__details"
      = form.submit value:"編集する", class: "Form__btn" 
      