.Contents
  .Container
    %h1 ネタを記録する
    = form_with model: @experience, class: "Form", local:true do |form|
      %h2 話した人数
      = form.text_area :number,placeholder: "ちょっとしたネタ(その日あった出来事, 読んだ本, etc...)",  class: "Form__details"
      = form.submit value:"編集する", class: "Form__btn" 
      