.Contents
  .Container
    %h1 話した人数を記録する
    = form_with model: @experience, class: "Graph-form", local:true do |form|
      %h2.Graph-form__title 話した人数
      .Graph-form__wrapper
        = form.text_field :number,  class: "Graph-form__details"
        = form.submit value:"記録する", class: "Graph-form__btn" 
      